<mat-form-field appearance="outline" class="search" id="nav-search">
    <input name="find" type="search" matInput placeholder="Pretraži korisnike" [formControl]="find" [matAutocomplete]="auto" (keyup)="filterUsers(findUser.value)" #findUser>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of users" (click)="onSelectionChanged(user)">
          <img class="user-image" aria-hidden [src]="user.profilePictureUrl" height="25">
          <span>{{user.firstName}} {{user.lastName}}</span>
        </mat-option>
    </mat-autocomplete>
    <mat-icon matPrefix>search</mat-icon>
</mat-form-field>
