.search {
  width: 100%;
  margin: 1%;
  font-size: 15px;
}

.search mat-icon {
  margin-right: 10px;
}

::ng-deep #nav-search .mat-form-field-appearance-outline {
  padding: 0.7em 0 0.7em 0 !important;
  top: -0.25em;
}

::ng-deep #nav-search .mat-form-field-infix {
  padding: 0.7em 0 0.7em 0 !important;
  top: -0.25em;
}

::ng-deep #nav-search .mat-form-field-appearance-outline {
  margin-bottom: 15px;
}

::ng-deep #nav-search .mat-form-field-wrapper {
  padding-bottom: 0;
}

.user-image {
  border-radius: 50%; 
  object-fit: cover;
  height: 25px;
  width: 25px;
  margin-right: 5px;
}