<div fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-md="column" fxFlexAlign="space-evenly" fxLayoutGap="30px grid">
  <div fxFlex="0 1 calc(33%)" fxFlex.sm="0 1 calc(50%)" fxFlex.md="0 1 calc(33%)" fxFlex.gt-md="0 1 calc(25%)">
    <mat-card fxFlex style="padding: 0px; border-radius: 20px;">
      <a style="padding: 16px 16px 0px 16px; display: inline-block; min-width: 100%; max-width: 100%;" [routerLink]="['/okupljanja']">
        <img style="padding: 0;" mat-card-image src="assets/nmicovic.png" alt="Slika clana tima" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
      </a>
      <a style="display: inline-flex;" [routerLink]="['/okupljanja']">
        <mat-card-title style="padding-left: 15px;">Nemanja Mićović</mat-card-title>
      </a>
      <mat-card-content style="word-wrap: break-word; margin-left: 15px; margin-right: 15px; margin-bottom: 5px;">
        <p class="role">Osnivac, organizacija</p>
        <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
        <p style="text-align: center; padding-bottom: 5px; "><i class="fa fa-lg fa-envelope"></i>  nemanja_micovic@matf.bg.ac.rs</p>
      </mat-card-content>
      <mat-card-header style="display: grid">
        <div class="ft-social">
          <ul class="ft-social-list">
            <li><a href="http://poincare.matf.bg.ac.rs/~nemanja_micovic/"><i class="fa fa-lg fa-globe"></i></a></li>
            <li><a href="https://github.com/termNinja"><i class="fa fa-lg fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/nemanja-micovic-540461107/"><i class="fa fa-lg fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/nemanja.micovic/"><i class="fa fa-lg fa-instagram"></i></a></li>
          </ul>
        </div>
      </mat-card-header>
    </mat-card>
  </div>

  <div fxFlex="0 1 calc(25%)" fxFlex.sm="0 1 calc(50%)" fxFlex.md="0 1 calc(33%)" fxFlex.gt-md="0 1 calc(25%)">
    <mat-card fxFlex style="padding: 0px; border-radius: 20px;">
      <a style="padding: 16px 16px 0px 16px; display: inline-block; min-width: 100%; max-width: 100%;" [routerLink]="['/okupljanja']">
        <img style="padding: 0;" mat-card-image src="assets/ptrifunov.jpeg" alt="Slika clana tima" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
      </a>
      <a style="display: inline-flex;" [routerLink]="['/okupljanja']">
        <mat-card-title style="padding-left: 15px;">Peđa Trifunov</mat-card-title>
      </a>
      <mat-card-content style="word-wrap: break-word; margin-left: 15px; margin-right: 15px; margin-bottom: 5px;">
        <p class="role">Organizacija</p>
        <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
        <p style="text-align: center; padding-bottom: 5px;"><i class="fa fa-lg fa-envelope"></i>  trifunov.pedja@gmai.com</p>
      </mat-card-content>
      <mat-card-header style="display: grid;">
        <div class="ft-social">
          <ul class="ft-social-list">
            <li><a href="https://github.com/atfoc"><i class="fa fa-lg fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/pedja-trifunov-b45931154/"><i class="fa fa-lg fa-linkedin"></i></a></li>
          </ul>
        </div>
      </mat-card-header>
    </mat-card>
  </div>

  <div fxFlex="0 1 calc(25%)" fxFlex.sm="0 1 calc(50%)" fxFlex.md="0 1 calc(33%)" fxFlex.gt-md="0 1 calc(25%)">
    <mat-card fxFlex style="padding: 0px; border-radius: 20px;">
      <a style="padding: 16px 16px 0px 16px; display: inline-block; min-width: 100%; max-width: 100%;" [routerLink]="['/okupljanja']">
        <img style="padding: 0;" mat-card-image src="assets/snestorovic.jpg" alt="Slika clana tima" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
      </a>
      <a style="display: inline-flex;" [routerLink]="['/okupljanja']">
        <mat-card-title style="padding-left: 15px;">Stevan Nestorović</mat-card-title>
      </a>
      <mat-card-content style="word-wrap: break-word; margin-left: 15px; margin-right: 15px; margin-bottom: 5px;">
        <p class="role">Organizacija</p>
        <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
        <p style="text-align: center; padding-bottom: 5px;"><i class="fa fa-lg fa-envelope"></i>  stevannestorovic@hotmail.com</p>
      </mat-card-content>
      <mat-card-header style="display: grid;">
        <div class="ft-social">
          <ul class="ft-social-list">
            <li><a href="https://github.com/stevavoliajvar"><i class="fa fa-lg fa-github"></i></a></li>
          </ul>
        </div>
      </mat-card-header>
    </mat-card>
  </div>

  <div fxFlex="0 1 calc(25%)" fxFlex.sm="0 1 calc(50%)" fxFlex.md="0 1 calc(33%)" fxFlex.gt-md="0 1 calc(25%)">
    <mat-card fxFlex style="padding: 0px; border-radius: 20px;">
      <a style="padding: 16px 16px 0px 16px; display: inline-block; min-width: 100%; max-width: 100%;" [routerLink]="['/okupljanja']">
        <img style="padding: 0;" mat-card-image src="assets/vnovakovic.jpg" alt="Slika clana tima" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
      </a>
      <a style="display: inline-flex;" [routerLink]="['/okupljanja']">
        <mat-card-title style="padding-left: 15px;">Vuk Novaković</mat-card-title>
      </a>
      <mat-card-content style="word-wrap: break-word; margin-left: 15px; margin-right: 15px; margin-bottom: 5px;">
        <p class="role">Organizacija</p>
        <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
        <p style="text-align: center; padding-bottom: 5px;"><i class="fa fa-lg fa-envelope"></i>  vnovakovic96@gmail.com</p>
      </mat-card-content>
      <mat-card-header style="display: grid;">
        <div class="ft-social">
          <ul class="ft-social-list">
            <li><a href="https://github.com/mrinvisible0"><i class="fa fa-lg fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/vuk-novakovic/"><i class="fa fa-lg fa-linkedin"></i></a></li>
          </ul>
        </div>
      </mat-card-header>
    </mat-card>
  </div>

  <div fxFlex="0 1 calc(25%)" fxFlex.sm="0 1 calc(50%)" fxFlex.md="0 1 calc(33%)" fxFlex.gt-md="0 1 calc(25%)">
    <mat-card fxFlex style="padding: 0px; border-radius: 20px;">
      <a style="padding: 16px 16px 0px 16px; display: inline-block; min-width: 100%; max-width: 100%;" [routerLink]="['/okupljanja']">
        <img style="padding: 0;" mat-card-image src="assets/astefanovic.jpg" alt="Slika clana tima" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
      </a>
      <a style="display: inline-flex;" [routerLink]="['/okupljanja']">
        <mat-card-title style="padding-left: 15px;">Aleksandar Stefanović</mat-card-title>
      </a>
      <mat-card-content style="word-wrap: break-word; margin-left: 15px; margin-right: 15px; margin-bottom: 5px;">
        <p class="role">Organizacija</p>
        <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
        <p style="text-align: center; padding-bottom: 5px;"><i class="fa fa-lg fa-envelope"></i>  stefanoviczaleksandar@gmail.com</p>
      </mat-card-content>
      <mat-card-header style="display: grid;">
        <div class="ft-social">
          <ul class="ft-social-list">
            <li><a href="https://github.com/aleksandar-stefanovic"><i class="fa fa-lg fa-github"></i></a></li>
          </ul>
        </div>
      </mat-card-header>
    </mat-card>
  </div>

  <div fxFlex="0 1 calc(25%)" fxFlex.sm="0 1 calc(50%)" fxFlex.md="0 1 calc(33%)" fxFlex.gt-md="0 1 calc(25%)">
    <mat-card fxFlex style="padding: 0px; border-radius: 20px;">
      <a style="padding: 16px 16px 0px 16px; display: inline-block; min-width: 100%; max-width: 100%;" [routerLink]="['/okupljanja']">
        <img style="padding: 0;" mat-card-image src="assets/opopovic.jpeg" alt="Slika clana tima" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
      </a>
      <a style="display: inline-flex;" [routerLink]="['/okupljanja']">
        <mat-card-title style="padding-left: 15px;">Olivera Popović</mat-card-title>
      </a>
      <mat-card-content style="word-wrap: break-word; margin-left: 15px; margin-right: 15px; margin-bottom: 5px;">
        <p class="role">Drustvene mreze</p>
        <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
        <p style="text-align: center; padding-bottom: 5px;"><i class="fa fa-lg fa-envelope"></i>  o.popovic@outlook.com</p>
      </mat-card-content>
      <mat-card-header style="display: grid;">
        <div class="ft-social">
          <ul class="ft-social-list">
            <li><a href="https://github.com/popovic-olivera"><i class="fa fa-lg fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/olivera-popovi%C4%87-33341b176/"><i class="fa fa-lg fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/olivera.popovic/"><i class="fa fa-lg fa-instagram"></i></a></li>
          </ul>
        </div>
      </mat-card-header>
    </mat-card>
  </div>

  <div fxFlex="0 1 calc(25%)" fxFlex.sm="0 1 calc(50%)" fxFlex.md="0 1 calc(33%)" fxFlex.gt-md="0 1 calc(25%)">
    <mat-card fxFlex style="padding: 0px; border-radius: 20px;">
      <a style="padding: 16px 16px 0px 16px; display: inline-block; min-width: 100%; max-width: 100%;" [routerLink]="['/okupljanja']">
        <img style="padding: 0;" mat-card-image src="/assets/ffilipovic.jpg" alt="Slika clana tima" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
      </a>
      <a style="display: inline-flex;" [routerLink]="['/okupljanja']">
        <mat-card-title style="padding-left: 15px;">Filip Filipović</mat-card-title>
      </a>
      <mat-card-content style="word-wrap: break-word; margin-left: 15px; margin-right: 15px; margin-bottom: 5px;">
        <p class="role">Video montaza</p>
        <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
        <p style="text-align: center; padding-bottom: 5px;"><i class="fa fa-lg fa-envelope"></i>  ffilipovicc98@gmail.com</p>
      </mat-card-content>
      <mat-card-header style="display: grid;">
        <div class="ft-social">
          <ul class="ft-social-list">
            <li><a href="http://alas.matf.bg.ac.rs/~mi17113/"><i class="fa fa-lg fa-globe"></i></a></li>
          </ul>
        </div>
      </mat-card-header>
    </mat-card>
  </div>

  <div fxFlex="0 1 calc(25%)" fxFlex.sm="0 1 calc(50%)" fxFlex.md="0 1 calc(33%)" fxFlex.gt-md="0 1 calc(25%)">
    <mat-card fxFlex style="padding: 0px; border-radius: 20px;">
      <a style="padding: 16px 16px 0px 16px; display: inline-block; min-width: 100%; max-width: 100%;" [routerLink]="['/okupljanja']">
        <img style="padding: 0;" mat-card-image src="assets/kklima.jpg" alt="Slika clana tima" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
      </a>
      <a style="display: inline-flex;" [routerLink]="['/okupljanja']">
        <mat-card-title style="padding-left: 15px;">Konstantin Klima</mat-card-title>
      </a>
      <mat-card-content style="word-wrap: break-word; margin-left: 15px; margin-right: 15px; margin-bottom: 5px;">
        <p class="role">Organizacija</p>
        <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
        <p style="text-align: center; padding-bottom: 5px;"><i class="fa fa-lg fa-envelope"></i>  konstantin.klima@live.com</p>
      </mat-card-content>
      <mat-card-header style="display: grid;">
        <div class="ft-social">
          <ul class="ft-social-list">
            <li><a href="https://github.com/konstantin-klima"><i class="fa fa-lg fa-github"></i></a></li>
          </ul>
        </div>
      </mat-card-header>
    </mat-card>
  </div>

  <div fxFlex="0 1 calc(25%)" fxFlex.sm="0 1 calc(50%)" fxFlex.md="0 1 calc(33%)" fxFlex.gt-md="0 1 calc(25%)">
    <mat-card fxFlex style="padding: 0px; border-radius: 20px;">
      <a style="padding: 16px 16px 0px 16px; display: inline-block; min-width: 100%; max-width: 100%;" [routerLink]="['/okupljanja']">
        <img style="padding: 0;" mat-card-image src="assets/abolovic.jpeg" alt="Slika clana tima" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
      </a>
      <a style="display: inline-flex;" [routerLink]="['/okupljanja']">
        <mat-card-title style="padding-left: 15px;">Ana Bolović</mat-card-title>
      </a>
      <mat-card-content style="word-wrap: break-word; margin-left: 15px; margin-right: 15px; margin-bottom: 5px;">
        <p class="role">Organizacija</p>
        <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
        <p style="text-align: center; padding-bottom: 5px;"><i class="fa fa-lg fa-envelope"></i>  anabolovic98@gmail.com</p>
      </mat-card-content>
      <mat-card-header style="display: grid;">
        <div class="ft-social">
          <ul class="ft-social-list">
            <li><a href="https://www.linkedin.com/in/ana-bolovic-50b699168/"><i class="fa fa-lg fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/anabolovic/"><i class="fa fa-lg fa-instagram"></i></a></li>
          </ul>
        </div>
      </mat-card-header>
    </mat-card>
  </div>

  <div fxFlex="0 1 calc(25%)" fxFlex.sm="0 1 calc(50%)" fxFlex.md="0 1 calc(33%)" fxFlex.gt-md="0 1 calc(25%)">
    <mat-card fxFlex style="padding: 0px; border-radius: 20px;">
      <a style="padding: 16px 16px 0px 16px; display: inline-block; min-width: 100%; max-width: 100%;" [routerLink]="['/okupljanja']">
        <img style="padding: 0;" mat-card-image src="assets/markoserer.jpg" alt="Slika clana tima" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
      </a>
      <a style="display: inline-flex;" [routerLink]="['/okupljanja']">
        <mat-card-title style="padding-left: 15px;">Marko Šerer</mat-card-title>
      </a>
      <mat-card-content style="word-wrap: break-word; margin-left: 15px; margin-right: 15px; margin-bottom: 5px;">
        <p class="role">Dizajner</p>
        <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
        <p style="text-align: center; padding-bottom: 5px;"><i class="fa fa-lg fa-envelope"></i>  sherer.marko@gmail.com</p>
      </mat-card-content>
      <mat-card-header style="display: grid;">
        <div class="ft-social">
          <ul class="ft-social-list">
            <li><a href="assets/marko_serer_portfolio.pdf"><i class="fa fa-lg fa-address-card"></i></a></li>
            <li><a href="https://www.linkedin.com/in/marko-%C5%A1erer-a13578123/"><i class="fa fa-lg fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/shex_projects/"><i class="fa fa-lg fa-instagram"></i></a></li>
          </ul>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
</div>
