<div fxLayout="row wrap" fxLayout.xs="column" fxFlex.lt-md="column" fxFlexAlign="space-evenly">
  <div fxFlex="0 1 calc(100%)">
    <mat-card style="margin-bottom: 2%; text-align: center; padding: 4%">
      <img src="assets/risk_logo.png" style="width:50%; margin-bottom: 3%;" alt="logo"/>
      <mat-expansion-panel hideToggle style="text-align: center !important">
        <mat-expansion-panel-header>
          <mat-panel-title>
            O nama
          </mat-panel-title>
        </mat-expansion-panel-header>
          <p class="text">
            RISK predstavlja organizaciju koja za cilj ima okupljanje i edukaciju studenata zainteresovanih za oblast
            računarstva i informatike. <br> RISK je zvanično osnovan 2015/2016 godine od strane tadašnjeg studenta osnovnih
            studija Nemanje Mićovića, sa namerom da se u okviru jedne organizacije okupi grupa studenata zainteresovanih
            za razvoj softvera, praktične projekte i rad sa novim tehnologijama.
          </p>
          <p class="text">
            RISK je sa svojim radom intenzivno počeo školske 2016/2017 i od tada je održano preko 20 okupljanja koja su
            bila ili u obliku mini kursa za neku od aktuelnih tema ili okupljanje studenata za rad na njihovim projektima. <br>
            Trenutna fejsbuk strana broji skoro 800 članova, a na okupljanima su osim studenata MatF-a česti posetioci naše
            kolege sa ETF-a, RAF-a i FON-a, a nije retkost i da kao gostujući predavači dođu predstavnici raznih kompanija.
            Uz veliku podršku Katedre za računarstvo i informatiku, organizacija RISK predstavlja centralno mesto okupljanja
            studenata zainteresovanih za dodatnu edukaciju i sticanje praktičnih znanja. Vise informacija o RISK-u se može
            pronaći u zvaničnoj <a href="assets/presentation.pdf">
            prezentaciji</a>. <br> Studenti, pojedinci ili firme zainteresovani da održe predavanje mogu se prijaviti na
            sledećem <a href="https://docs.google.com/forms/d/e/1FAIpQLSfg1xM9EjhyOcUR9AIpQm6bhq6RflLOhWriCPTwl2TiNviAhA/viewform">
            formularu</a>.
          </p>
      </mat-expansion-panel>
    </mat-card>
    <mat-card-title id="title">Organizaciju čine:</mat-card-title>
  </div>
  <div fxFlex="0 1 calc(25%)" fxFlex.xs="0 1 calc(100%)" fxFlex.sm="0 1 calc(50%)" fxFlex.md="0 1 calc(33%)" fxFlex.gt-md="0 1 calc(25%)"
    *ngFor="let person of people"
    ngStyle.lt-sm="padding-right: '0px'; padding-bottom: '30px';"
    ngStyle.gt-xs="padding-left: '15px'; padding-right: '15px'; padding-bottom: '30px';">
    <mat-card fxFlex style="padding: 0px; border-radius: 20px;">
      <a style="padding: 16px 16px 0px 16px; display: inline-block; min-width: 100%; max-width: 100%;">
        <img style="padding: 0;" mat-card-image src="{{ person.img }}" alt="Slika clana tima" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
      </a>
      <a style="display: inline-flex;">
        <mat-card-title style="padding-left: 15px;">{{ person.name }}</mat-card-title>
      </a>
      <mat-card-content style="word-wrap: break-word; margin-left: 15px; margin-right: 15px; margin-bottom: 5px;">
        <p class="role">{{ person.role }}</p>
        <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
        <p style="text-align: center; padding-bottom: 5px; "><i class="fa fa-lg fa-envelope"></i> {{ person.mail }}</p>
      </mat-card-content>
      <mat-card-header style="display: grid">
        <div class="ft-social">
          <ul class="ft-social-list">
            <li *ngFor="let soc of person.social_list"
              [ngSwitch]="soc.network">
              <ng-template ngSwitchCase="web">
                <a href="{{ soc.link }}"><i class="fa fa-lg fa-globe"></i></a>
              </ng-template>
              <ng-template ngSwitchCase="github">
                <a href="{{ soc.link }}"><i class="fa fa-lg fa-github"></i></a>
              </ng-template>
              <ng-template ngSwitchCase="linkedin">
                <a href="{{ soc.link }}"><i class="fa fa-lg fa-linkedin"></i></a>
              </ng-template>
              <ng-template ngSwitchCase="instagram">
                <a href="{{ soc.link }}"><i class="fa fa-lg fa-instagram"></i></a>
              </ng-template>
              <ng-template ngSwitchCase="portfolio">
                <a href="{{ soc.link }}"><i class="fa fa-lg fa-address-card"></i></a>
              </ng-template>
            </li>
          </ul>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
</div>
