#bagde-container {
  background-color: #EEE;
  color: #424242;
  padding-left: 5px;
  padding-bottom: 3px;
  border-radius: 30px;
  outline-width: 0;
  outline-color: transparent;
}

#bagde-container img {
  border-radius: 30px;
  height: 30px;
  margin-right: 10px;
}
