#profile-image {
  width: 18vw; 
  height: 18vw; 
  border-radius: 50%; 
  object-fit: cover;
}

#name {
  padding-top: 14px; 
  font-size: 24px; 
  letter-spacing: 1px; 
  font-weight: 500;
}

.text {
  font-size: 16px;
  font-style: oblique;
  letter-spacing: 2px;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 1px;
  margin-bottom: 0;
  justify-content: space-between;
}

li {
  padding-bottom: 5px;
}

a {
  margin-bottom: 10px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 16vh;
  height: 555px;
}

.btn-grad {
  margin: 15px 0; 
  width: 66.6%; 
  font-size: 18px; 
  letter-spacing: 3px;

  background: linear-gradient(147deg, #00aeef, #37769b, #552e9e, #929b9e);
  background-size: 600% 600%;
  color: whitesmoke;

  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 23%}
  50%{background-position:100% 78%}
  100%{background-position:0% 23%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 23%}
  50%{background-position:100% 78%}
  100%{background-position:0% 23%}
}
@keyframes AnimationName {
  0%{background-position:0% 23%}
  50%{background-position:100% 78%}
  100%{background-position:0% 23%}
}

#profile-numbers {
  width:100%; 
  table-layout: fixed; 
  text-align: center;
}

th {
  font-weight: 500 !important;
}

th:hover {
  cursor: pointer;
}