<div *ngIf="profile" style="align-items: flex-start;" fxLayout='row' fxFlexAlign="space-evenly" fxLayout.lt-md="column">
  <div class="sticky" fxFlex="0 1 calc(20%)">
    <img src="{{ profile.profilePictureUrl }}" id="profile-image"/>
    <div id="name">
      {{ profile.firstName }} {{ profile.lastName }}
      <p class="text">CS student</p>
    </div>
    <button class="btn-grad" mat-raised-button *ngIf="isFollowEnabled(); else empty" (click)="onFollow()" [disabled]="alreadyFollowing()">{{btnText}}</button>
    <ng-template #empty><br/></ng-template>
    <table id="profile-numbers">
      <tr>
        <th>Objave</th>
        <th (click)="openFollowers()">Pratioci</th>
        <th (click)="openFollowing()">Praćenje</th>
      </tr>
      <tr>
        <td>{{ profile.postsNum }}</td>
        <td>{{ profile.followers.length }}</td>
        <td>{{ profile.following.length }}</td>
      </tr>
    </table>
    <div style="border-bottom: 1px #777 solid; margin: 15px 0px;"></div>
    <ul style="font-size: 18px; font-weight: bold; letter-spacing: 5px;">
      <li>
        <a [routerLink]="['/okupljanja']">Omiljeno</a>
      </li>
      <li>
        <a [routerLink]="['/okupljanja']">Tag2</a>
      </li>
    </ul>
  </div>
  <div fxFlex="0 1 calc(60%)" style="margin: 0 4vw;">
    <app-blog-list></app-blog-list>
  </div>
  <div class="sticky" fxFlex="0 1 calc(20%)">
    <p class="text" style="letter-spacing: 4px; font-weight: 500; font-size: 18px;">Biografija</p>
    <div style="text-align: justify;">{{ profile.bio }}</div>
    <div style="border-bottom: 1px #777 solid; margin: 15px 0px;"></div>
    <div class="ft-social">
      <ul class="ft-social-list">
        <li *ngFor="let soc of profile.social_list"
          [ngSwitch]="soc.network">
          <ng-template ngSwitchCase="web">
            <a href="{{ soc.link }}"><i class="fa fa-lg fa-globe"></i></a>
          </ng-template>
          <ng-template ngSwitchCase="github">
            <a href="{{ soc.link }}"><i class="fa fa-lg fa-github"></i></a>
          </ng-template>
          <ng-template ngSwitchCase="linkedin">
            <a href="{{ soc.link }}"><i class="fa fa-lg fa-linkedin"></i></a>
          </ng-template>
          <ng-template ngSwitchCase="instagram">
            <a href="{{ soc.link }}"><i class="fa fa-lg fa-instagram"></i></a>
          </ng-template>
          <ng-template ngSwitchCase="facebook">
            <a href="{{ soc.link }}"><i class="fa fa-lg fa-facebook"></i></a>
          </ng-template>
          <ng-template ngSwitchCase="portfolio">
            <a href="{{ soc.link }}"><i class="fa fa-lg fa-address-card"></i></a>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</div>
