<div *ngIf="profile" style="align-items: flex-start;" fxLayout='row' fxFlexAlign="space-evenly" fxLayout.lt-md="column">
  <div class="sticky" fxFlex="0 1 calc(20%)">
    <div id="profile-image" style="background-image: url({{profile.profilePictureUrl}})"></div>
    <div id="name">
      {{ profile.firstName }} {{ profile.lastName }}
      <p class="text">{{profile.occupation}}</p>
    </div>
    <button class="btn-grad" mat-raised-button *ngIf="isFollowEnabled(); else empty" (click)="onFollow()" [disabled]="alreadyFollowing()">{{btnText}}</button>
    <ng-template #empty><br/></ng-template>
    <table id="profile-numbers">
      <tr>
        <th>Objave</th>
        <th (click)="openFollowers()">Pratioci</th>
        <th (click)="openFollowing()">Praćenje</th>
      </tr>
      <tr>
        <td>{{ profile.postsNum }}</td>
        <td>{{ profile.followers.length }}</td>
        <td>{{ profile.following.length }}</td>
      </tr>
    </table>
    <div style="border-bottom: 1px #777 solid; margin: 15px 0px;"></div>
    <!-- <ul style="font-size: 18px; font-weight: bold; letter-spacing: 5px;">
      <li>
        <a [routerLink]="['/okupljanja']">Omiljeno</a>
      </li>
      <li>
        <a [routerLink]="['/okupljanja']">Tag2</a>
      </li>
    </ul> -->
  </div>
  <div fxFlex="0 1 calc(60%)" style="margin: 0 4vw;">
    <app-blog-list></app-blog-list>
  </div>
  <div class="sticky" fxFlex="0 1 calc(20%)">
    <p class="text" style="letter-spacing: 4px; font-weight: 500; font-size: 18px;">Biografija</p>
    <div style="text-align: justify;">{{ profile.bio }}</div>
    <div style="border-bottom: 1px #777 solid; margin: 15px 0px;"></div>
    <div class="ft-social">
      <ul class="ft-social-list">
        <li>
          <a *ngIf="profile.webUrl" href="{{profile.webUrl}}"><i class="fa fa-lg fa-globe"></i></a>
        </li>
        <li>
          <a *ngIf="profile.githubUrl" href="{{profile.githubUrl}}"><i class="fa fa-lg fa-github"></i></a>
        </li>
        <li>
          <a *ngIf="profile.linkedinUrl" href="{{profile.linkedinUrl}}"><i class="fa fa-lg fa-linkedin"></i></a>
        </li>
        <li>
          <a *ngIf="profile.instagramUrl" href="{{profile.instagramUrl}}"><i class="fa fa-lg fa-instagram"></i></a>
        </li>
        <li>
          <a *ngIf="profile.facebookUrl" href="{{profile.facebookUrl}}"><i class="fa fa-lg fa-facebook"></i></a>
        </li>
        <li>
          <a *ngIf="profile.portfolioUrl" href="{{profile.portfolioUrl}}"><i class="fa fa-lg fa-address-card"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
