<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">

  <a class="navbar-brand" [routerLink]="['/']">
    <div class="container-fluid navbar-container">
      <img style="width: 90px" src="https://i.imgur.com/vPIuIJr.png">
    </div>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">
          <i class="fa fa-home fa-fw"></i>
          Početna
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/okupljanja']">
          <i class="fa fa-podcast fa-fw"></i>
          Okupljanja
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/organizacija']">
          <i class="fa fa-group fa-fw"></i>
          Organizacija
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/projekti']">
          <i class="fa fa-terminal fa-fw"></i>
          Projekti
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/blog']">
          <i class="fa fa-edit fa-fw"></i>
          Blog
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/galerija']">
          <i class="fa fa-image fa-fw"></i>
          Galerija
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" [routerLink]="['/']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-smile-o fa-fw"></i>
          Vaš doprinos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a target="_blank" class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfjQQyqCRD3vLWAvUbRi66CWBNzUb4-mszj5emJBO0tNcbevw/viewform?usp=sf_link">Prijava projekta (anketa)</a>
          <a target="_blank" class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfg1xM9EjhyOcUR9AIpQm6bhq6RflLOhWriCPTwl2TiNviAhA/viewform?usp=sf_link">Prijava predavanja (anketa)</a>
          <a target="_blank" class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfyLBaMQ2GZSKtlfYxcKnLtZiJLp-RCRBxji1bMAaFeuM16sw/viewform?usp=sf_link">Šta biste voleli da slušate (anketa)</a>
          <a target="_blank" class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSc57izlfrwqUGsmXZdKCLwmopEgcn-4PkXtJghc65oQr_pb_Q/viewform?usp=sf_link">Predlozi sa veb stranicu (anketa)</a>
        </div>
      </li>
    </ul>
    <app-login *ngIf="!auth.userProfile"></app-login>
    <button class="btn btn-outline-dark btn-sm" *ngIf="auth.userProfile" (click)="auth.logout()">Odjavi se</button>
  </div>
</nav>
