<button id="badge-container" mat-flat-button [matMenuTriggerFor]="menu">
  <img [src]="auth.getUserProfile().profilePictureUrl"/>
  {{auth.getUserProfile().firstName}} {{auth.getUserProfile().lastName}}
</button>
<mat-menu #menu="matMenu">
  <button mat-button [routerLink]="['/profil', this.auth.getUserProfile()._id]">Otvori profil</button>
  <br>
  <button mat-button [routerLink]="['/profil/podesavanja']">Podešavanja</button>
  <br>
  <button mat-button (click)="auth.logout()">Odjavi se</button>
</mat-menu>
