<button id="badge-container" mat-flat-button [matMenuTriggerFor]="menu">
  <img [src]="auth.getUserProfile().profilePictureUrl"/>
  <span fxShow="true" fxHide.xs="true">
    {{auth.getUserProfile().firstName}} {{auth.getUserProfile().lastName}}
  </span>
</button>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-button [routerLink]="['/profil', this.auth.getUserProfile()._id]">Otvori profil</button>
  <br>
  <button mat-button [routerLink]="['/profil/podesavanja']">Podešavanja</button>
  <br>
  <button mat-button (click)="auth.logout()">Odjavi se</button>
</mat-menu>
