<div id="form-container">
    <mat-toolbar class="toolbar">
        <h1>Registracija</h1>
     </mat-toolbar>
    <mat-card-content>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="field">
                <mat-label>Imejl adresa</mat-label>
                <input matInput type="email" name="email" placeholder={{defaultUser.email}} [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{emailErrorMessage()}}</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="field">
                <mat-label>Ime</mat-label>
                <input matInput name="firstName" placeholder={{defaultUser.firstName}} [formControl]="firstName" required>
                <mat-error *ngIf="firstName.invalid">Ovo polje je obavezno</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="field">
                <mat-label>Prezime</mat-label>
                <input matInput name="lastName" placeholder={{defaultUser.lastName}} [formControl]="lastName" required>
                <mat-error *ngIf="lastName.invalid">Ovo polje je obavezno</mat-error>
            </mat-form-field>

            <div>
                <button mat-button color="primary" (click)="fileInput.click()" type="button">
                    <mat-icon>file_upload</mat-icon>
                    Učitaj profilnu sliku
                </button>
                <input #fileInput type="file" style="display:none;" (change)="onFileChanged($event)"/>
            </div>
                
            <br/>
            <mat-card-subtitle>Lozinka treba da sadrži najmanje jedno veliko slovo, jednu cifru i da sadrži najmanje 8 karaktera</mat-card-subtitle>

            <mat-form-field appearance="outline" class="field">
                <mat-label>Lozinka</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder={{defaultUser.password}} [formControl]="password" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="password.invalid">{{passwordErrorMessage()}}</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="field">
                <mat-label>Potvrdi lozinku</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder={{defaultUser.password}} [formControl]="confirmPassword" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="confirmPassword.invalid">{{confirmErrorMessage()}}</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="!registerEnabled()">Registruj se</button>
        </form>
    </mat-card-content>
</div>