<div appBlogLayout fxLayout="{{ isProfile ? 'column' : 'row wrap' }}" fxLayout.xs="column" fxLayoutAlign="start space-evenly">
  <div fxFlex="0 1 calc(33.3%)" fxFlex.sm="0 1 calc(100%)" fxFlex.md="0 1 calc(50%)" fxFlex.gt-md="0 1 calc(33.3%)"
    ngStyle.lt-md="padding-right: '0px'; padding-bottom: '30px';"
    ngStyle.gt-sm="padding-left: '15px'; padding-right: '15px'; padding-bottom: '30px';"
    *ngIf="auth.getUserProfile() && !isProfile">
    <mat-card fxFlex style="position: relative">
      <a [routerLink]="['/blog/novo']" style="display: inline-block; width: 100%; height: 100%;">
        <i id="button" class="fa fa-plus"
        ngStyle="{{ isProfile ? 'font-size: 33px' : 'font-size: 300px' }}"
        ngStyle.lt-md="font-size: '33px';"></i>
      </a>
    </mat-card>
  </div>
  <div fxFlex="0 1 calc(33.3%)" fxFlex.sm="0 1 calc(100%)" fxFlex.md="0 1 calc(50%)" fxFlex.gt-md="0 1 calc(33.3%)"
    *ngFor="let post of blogPosts"
    ngStyle.lt-md="padding-right: '0px'; padding-bottom: '30px';"
    ngStyle.gt-sm="padding-left: '15px'; padding-right: '15px'; padding-bottom: '30px';">
    <mat-card fxFlex>
      <a style="padding: 0 16px; display: inline-block; min-width: 100%; max-width: 100%;" [routerLink]="['/blog/' + post.url_id]">
        <img mat-card-image src="{{ post.header_image }}" alt="Slika clanka" style="padding: 0; margin-bottom: 0; border-top-left-radius: 20px; border-top-right-radius: 20px;">
      </a>
      <a [routerLink]="['/blog/' + post.url_id]">
        <mat-card-title style="padding-left: 15px; padding-top: 10px; word-wrap: break-word;">{{ post.title }}</mat-card-title>
      </a>
      <mat-card-content style="word-wrap: break-word; margin-left: 15px; margin-right: 15px;">
        <p>{{ post.desc }}</p>
      </mat-card-content>
      <mat-card-header>
        <div mat-card-avatar class="avatar-image">
          <a style="margin-left: 15px;" [routerLink]="['/profil/' + post.author_id]">
            <img mat-card-avatar *ngIf="post.author_image" src="{{ post.author_image }}" alt="Autorova slika">
            <img mat-card-avatar *ngIf="!post.author_image" src="assets/generic_user.jpeg" alt="Autorova slika">
          </a>
        </div>
        <div>
            <a [routerLink]="['/profil/' + post.author_id]">
              {{ post.author_first_name }} {{ post.author_last_name }}
            </a>
          <div>
            <mat-card-subtitle>{{ post.date | serbianDate }}</mat-card-subtitle>
          </div>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
</div>
