.avatar-image {
  background-size: cover;
}

.mat-card {
  padding: 0;
  border-radius: 20px;
}

#button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-card-image:first-child {
  margin-top: 0 !important;
}
