#form-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.toolbar {
  background-color: transparent;
  margin-bottom: 5%;
}

.field {
  display: block
}

.text-primary:hover {
  cursor: pointer;
}

.toolbar h1 {
  font-size: larger;
}