<div id="form-container">
    <mat-toolbar class="toolbar">
        <h1>Oporavak lozinke</h1>
    </mat-toolbar>
    
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-card-subtitle style="display:block; margin-bottom: 5%;">Unesite imejl adresu vašeg naloga. <br/> Nakon nekoliko trenutaka dobićete imejl sa daljim uputstvima za promenu lozinke.</mat-card-subtitle>

        <mat-form-field appearance="outline" class="field">
            <mat-label>Imejl adresa</mat-label>
            <input matInput type="email" name="email" placeholder="primer@alas.matf.bg.ac.rs" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{emailErrorMessage()}}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!resetEnabled()">Pošalji</button>
    </form>
</div>