<div id="form-container">
    <mat-toolbar class="toolbar">
        <h1>Promena lozinke</h1>
    </mat-toolbar>
    
    <mat-card-content>
        <form [formGroup]="responseResetForm" (ngSubmit)="resetPassword()">
            <mat-card-subtitle>Lozinka treba da sadrži najmanje jedno veliko slovo, jednu cifru i najmanje 8 karaktera</mat-card-subtitle>
            <br/>

            <mat-form-field appearance="outline" class="field">
                <mat-label>Nova lozinka</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="P@$$word123" [formControl]="password" required>
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="password.invalid">{{passwordErrorMessage()}}</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="field">
                <mat-label>Potvrdi novu lozinku</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="P@$$word123" [formControl]="confirmPassword" required>
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="confirmPassword.invalid">{{confirmErrorMessage()}}</mat-error>
            </mat-form-field>

            <button mat-raised-button mat-dialog-close color="primary" type="submit" [disabled]="!resetEnabled()">Promeni lozinku</button>
        </form>
    </mat-card-content>
</div>