<mat-card class="card container" fxLayout="column">
    <mat-card-title class="title">Podešavanja profila</mat-card-title>
    <hr>

    <div class="row" style="margin-top: 3%">
        <div class="column" fxLayout="column">
            <div class="field">
                <mat-label fxFlex="0 1 auto">Ime</mat-label>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput [readonly]="isReadonlyMap['firstName']" [value]="this.profile.firstName" (blur)="onBlurFirstName(firstName.value)" #firstName>
                    <mat-error *ngIf="firstName.invalid">Ovo polje je obavezno</mat-error>
                </mat-form-field>
                <button mat-mini-fab fxFlex="0 1 auto" (click)="isReadonlyMap['firstName']=false">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        
            <div class="field">
                <mat-label fxFlex="0 1 auto">Prezime</mat-label>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput [readonly]="isReadonlyMap['lastName']" [value]="this.profile.lastName" (blur)="onBlurLastName(lastName.value)" #lastName>
                    <mat-error *ngIf="lastName.invalid">Ovo polje je obavezno</mat-error>
                </mat-form-field>
                <button mat-mini-fab fxFlex="0 1 auto" (click)="isReadonlyMap['lastName']=false">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        
            <div class="field">
                <mat-label fxFlex="0 1 auto">Biografija</mat-label>
                <mat-form-field fxFlex="1 1 auto">
                    <textarea matInput [readonly]="isReadonlyMap['bio']" [value]="toNull(this.profile.bio)" (blur)="onBlurBio(bio.value)" #bio></textarea>
                </mat-form-field>
                <button mat-mini-fab fxFlex="0 1 auto" (click)="isReadonlyMap['bio']=false">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        
            <div class="field">
                <mat-label fxFlex="0 1 auto">Zanimanje</mat-label>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput [readonly]="isReadonlyMap['occupation']" [value]="toNull(this.profile.occupation)" (blur)="onBlurOccupation(occ.value)" #occ>
                </mat-form-field>
                <button mat-mini-fab fxFlex="0 1 auto" (click)="isReadonlyMap['occupation']=false">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        
            <div class="field">
                <mat-label fxFlex="0 1 auto">Veb adresa</mat-label>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput [readonly]="isReadonlyMap['web']" [value]="toNull(this.profile.webUrl)" (blur)="onBlurWeb(web.value)" #web>
                </mat-form-field>
                <button mat-mini-fab fxFlex="0 1 auto" (click)="isReadonlyMap['web']=false">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <div class="field">
                <mat-label fxFlex="0 1 auto">Github nalog</mat-label>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput [readonly]="isReadonlyMap['github']" [value]="toNull(this.profile.githubUrl)" (blur)="onBlurGithub(git.value)" #git>
                </mat-form-field>
                <button mat-mini-fab fxFlex="0 1 auto" (click)="isReadonlyMap['github']=false">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <div class="field">
                <mat-label fxFlex="0 1 auto">LinkedIn nalog</mat-label>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput [readonly]="isReadonlyMap['linkedin']" [value]="toNull(this.profile.linkedinUrl)" (blur)="onBlurLinkedin(lin.value)" #lin>
                </mat-form-field>
                <button mat-mini-fab fxFlex="0 1 auto" (click)="isReadonlyMap['linkedin']=false">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <div class="field">
                <mat-label fxFlex="0 1 auto">Instagram nalog</mat-label>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput [readonly]="isReadonlyMap['instagram']" [value]="toNull(this.profile.instagramUrl)" (blur)="onBlurInstagram(instagram.value)" #instagram>
                </mat-form-field>
                <button mat-mini-fab fxFlex="0 1 auto" (click)="isReadonlyMap['instagram']=false">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <div class="field">
                <mat-label fxFlex="0 1 auto">Facebook nalog</mat-label>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput [readonly]="isReadonlyMap['facebook']" [value]="toNull(this.profile.facebookUrl)" (blur)="onBlurFacebook(face.value)" #face>
                </mat-form-field>
                <button mat-mini-fab fxFlex="0 1 auto" (click)="isReadonlyMap['facebook']=false">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <div class="field">
                <mat-label fxFlex="0 1 auto">Portfolio url</mat-label>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput [readonly]="isReadonlyMap['portfolio']" [value]="toNull(this.profile.portfolioUrl)" (blur)="onBlurPortfolio(portfolio.value)" #portfolio>
                </mat-form-field>
                <button mat-mini-fab fxFlex="0 1 auto" (click)="isReadonlyMap['portfolio']=false">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>

        <div class="column" fxLayoutAlign="end start">
            <div style="text-align: center;">
                <mat-label id="profile-image-lbl">Slika na profilu</mat-label>
                <div class="profile-image" *ngIf="!selectedImageUrl && profile.profilePictureUrl" fxLayoutAlign="end end" style="background-image: url({{profile.profilePictureUrl}});">
                    <button mat-mini-fab (click)="fileInput.click()" type="button">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <input #fileInput type="file" style="display:none;" (change)="onFileChanged($event)"/>
                </div>
                <div class="profile-image" *ngIf="!selectedImageUrl && !profile.profilePictureUrl" fxLayoutAlign="end end" style="background-image: url('assets/generic_user.jpeg');">
                    <button mat-mini-fab (click)="fileInput.click()" type="button">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <input #fileInput type="file" style="display:none;" (change)="onFileChanged($event)"/>
                </div>
                <div *ngIf="selectedImageUrl" class="profile-image" fxLayoutAlign="end end" [style.background-image]="'url('+selectedImageUrl+')'">
                    <button mat-mini-fab (click)="fileInput.click()" type="button">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <input #fileInput type="file" style="display:none;" (change)="onFileChanged($event)"/>
                </div>
                <button mat-raised-button style="font-size: x-large; margin-top: 15%" color="accent" (click)="onChangePassword()">
                    Promeni lozinku
                </button>
            </div>
        </div>
    </div>

    <div class="row" fxLayoutAlign="end">
        <div style="text-align: center">
            <button mat-raised-button style="font-size: x-large" color="accent" (click)="onSave()">
                Sačuvaj
            </button>
            <br>
            <mat-label *ngIf="successfulSave" class="mat-small">Promene uspešno sačuvane</mat-label>
            <mat-error *ngIf="!successfulSave && successfulSave !== undefined" class="mat-small">Čuvanje promena nije uspelo</mat-error>
        </div>
    </div>
</mat-card>