<div fxLayout="column" fxLayout.xs="column" fxLayoutGap="50px" fxLayoutGap.xs="20px">
    
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item *ngFor="let img of images">
            <img class="d-block w-100" src={{img.imageUrl}} alt={{img.imageName}}>
        </mdb-carousel-item>
    </mdb-carousel>

    <app-create-meeting *ngIf="auth.getUserProfile() && auth.isUserAdmin()" fxFlexAlign="center" id="createMeeting"></app-create-meeting>

    <mat-form-field appearance="outline" fxFlexAlign="center">
        <mat-label style="margin-left: 1%">Pretraga okupljanja</mat-label>
        <input style="margin-left: 1%" matInput type="search" placeholder="Npr. Predavanje" (keyup)="onInputChange($event)">
        <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <app-meeting fxFlexAlign="center" class="meeting" (emitMeetingToDelete)="deleteMeeting($event)" *ngFor="let meeting of meetings" [meeting]=meeting></app-meeting>

    <a class="btn btn-primary" fxFlexAlign="center" (click)="showOlderMeetings()">Starija okupljanja &rarr;</a>
</div>