.card {
    padding: 5%;
    border-radius: 20px;
}

.column {
    width: 50%;
}

.title {
    font-size: xx-large;
    text-align: center;
}

.input {
    display: block;
    margin: 5%;
}

.load {
    margin: 2%;
}

.profileImage {
    border-radius: 50%; 
    object-fit: cover;
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.mat-card-subtitle {
  margin-right: 5%;
  margin-left: 5%;
}
