<mat-card class="card container"> <!--TODO this component should be visible only to RISK members-->
    <mat-card-title class="title">Dodaj novo okupljanje</mat-card-title>

    <form [formGroup]="createMeetingForm" style="text-align:center;" (ngSubmit)="onSaveMeeting()">
        <div class="row">
            <div class="column">
                <mat-form-field appearance="outline" class="input">
                    <mat-label>Unesite naslov održanog predavanja</mat-label>
                    <input matInput name="title" placeholder="Naslov predavanja" [formControl]="title" required>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error *ngIf="title.invalid">Ovo polje je obavezno</mat-error>
                </mat-form-field>
            
                <mat-card-subtitle>Ako ima profil odaberite ga iz padajuće liste, inače unesite ime i prezime</mat-card-subtitle>
                <mat-form-field appearance="outline" class="input">
                    <mat-label>Unesite autora</mat-label>
                    <input matInput name="authorName" placeholder="Petar Petrović" [formControl]="authorName" [matAutocomplete]="auto" (keyup)="filterUsers(author.value)" #author required>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let user of users" (click)="onSelectionChanged(user)">
                          <img class="profileImage rounded-circle" aria-hidden [src]="user.profilePictureUrl" height="25">
                          <span>{{user.firstName}} {{user.lastName}}</span>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="authorName.invalid">Ovo polje je obavezno</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="input">
                    <mat-label>Unesite opis predavanja</mat-label>
                    <textarea matInput name="description" placeholder="Kratak opis predavanja" [formControl]="description" required></textarea>
                    <mat-error *ngIf="description.invalid">Ovo polje je obavezno</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="input">
                    <mat-label>Odaberite datum održavanja</mat-label>
                    <input matInput name="date" [matDatepicker]="picker" [formControl]="date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker disabled="false" #picker></mat-datepicker>
                    <mat-error *ngIf="date.invalid">Ovo polje je obavezno</mat-error>
                </mat-form-field>
            
                <mat-form-field appearance="outline" class="input">
                    <mat-label>Unesite link do GitHub repozitorijuma sa kodom</mat-label>
                    <input matInput name="githubRepoUrl" placeholder="Link do repozitorijuma" [formControl]="createMeetingForm.get('githubRepoUrl')">
                    <mat-icon matSuffix>computer</mat-icon>
                </mat-form-field>
            </div>
            <div class="column">
                <mat-form-field appearance="outline" class="input">
                    <mat-label>Unesite link postera predavanja</mat-label>
                    <input matInput name="posterUrl" placeholder="Link do repozitorijuma" [formControl]="createMeetingForm.get('posterUrl')" required>
                    <mat-icon matSuffix>image</mat-icon>
                </mat-form-field>

                <mat-card-subtitle>Unesite reči tako da budu razdvojene zarezima</mat-card-subtitle>
                <mat-form-field appearance="outline" class="input">
                    <mat-label>Unesite ključne reči</mat-label>
                    <textarea matInput name="tags" placeholder="Ključ1, ključ2 ..." [formControl]="createMeetingForm.get('tags')"></textarea>
                </mat-form-field>
            
                <mat-form-field appearance="outline" class="input">
                    <mat-label>Unesite link prezentacije sa predavanja</mat-label>
                    <input matInput name="presentationUrl" placeholder="Prezentacija sa predavanja" [formControl]="createMeetingForm.get('presentationUrl')">
                    <mat-icon matSuffix>slideshow</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="input">
                    <mat-label>Unesite link snimka predavanja</mat-label>
                    <input matInput name="videoUrl" placeholder="Link do video snimka" [formControl]="createMeetingForm.get('videoUrl')">
                    <mat-icon matSuffix>videocam</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="input">
                    <mat-label>Unesite link do ankete o utiscima</mat-label>
                    <input matInput name="surveyUrl" placeholder="Link do ankete o utiscima" [formControl]="createMeetingForm.get('surveyUrl')">
                    <mat-icon matSuffix>analytics</mat-icon>
                </mat-form-field>
            </div>
        </div>
        
        <button mat-raised-button color="primary" class="btn-lg" type="submit" [disabled]="!saveMeetingEnabled()">Sačuvaj</button>
    </form>
</mat-card>