.card {
    padding: 5%;
    border-radius: 20px;
}

.column {
    width: 50%;
}

.title {
    font-size: xx-large;
    text-align: center;
}

.input {
    display: block;
    margin: 5%;
}

.profileImage {
    vertical-align: middle;
    margin-right: 8px;
}
