<mat-card> <!--TODO this component should be visible only to RISK members-->
    <mat-card-title>Dodaj novo okupljanje</mat-card-title>

    <mat-form-field appearance="outline" class="input">
        <mat-label>Unesite naslov održanog predavanja</mat-label>
        <input matInput placeholder="Naslov predavanja" #heading>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input">
        <mat-label>Unesite opis predavanja</mat-label>
        <textarea matInput placeholder="Kratak opis predavanja" #desc></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input">
        <mat-label>Unesite link do GitHub repozitorijuma sa kodom</mat-label>
        <input matInput placeholder="Link do repozitorijuma" #github>
        <mat-icon matSuffix>computer</mat-icon>
    </mat-form-field>

    <button mat-raised-button (click)="saveMeeting(heading.value, desc.value, github.value)" [disabled]="!saveEnabled(heading.value, desc.value, github.value)">Sačuvaj</button>
</mat-card>