<mat-toolbar class="navbar">
    <button *ngIf="(isHandset | async)" mat-icon-button class="example-icon" (click)="drawer.toggle()" id="nav-button">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="'/'"><img [src]="themingService.prefersDarkTheme ? 'assets/risk_logo_dark.png' : 'assets/risk_logo.png'" style="width: 100px" alt="RISK logo"></a>
    <span style="flex: 0.02 1 auto;"></span>
    <div *ngIf="!(isHandset | async)">
      <a mat-button [routerLink]="['/okupljanja']" [routerLinkActive]="'active-link'">Okupljanja</a>
      <a mat-button [routerLink]="['/organizacija']" [routerLinkActive]="'active-link'">Organizacija</a>
      <a mat-button [routerLink]="['/projekti']" [routerLinkActive]="'active-link'">Projekti</a>
      <a mat-button [routerLink]="['/blog']" [routerLinkActive]="'active-link'">Blog</a>
    </div>

  <span style="flex: 1 1 auto;"></span>
  <app-find-user style="width: 20%"></app-find-user>

  <span style="flex: 0.2 1 auto;"></span>
  <app-profile-badge *ngIf="auth.getUserProfile()"></app-profile-badge>
  <button *ngIf="!auth.getUserProfile()" mat-button (click)="displayLogin()">Prijavi se</button>
</mat-toolbar>

