.navbar {
  margin-bottom: 5vh;
  position: sticky;
  top: 0;
  z-index: 100;
  vertical-align: middle;
  height: 8vh;
  min-height: 60px !important;
}

.mat-button {
  text-transform: uppercase;
}

.mat-button:focus {
  outline: none;
  border: 0;
}

.active-link {
  background-color: lightslategray;
  color: #fafafa;
}

#nav-button {
  margin-right: 15px;
}
