<mat-toolbar>
  <a [routerLink]="'/'"><img src="https://i.imgur.com/vPIuIJr.png" style="width: 100px" alt="RISK logo"></a>
  <span style="flex: 0.02 1 auto;"></span>
  <button mat-button [routerLink]="['/okupljanja']" [routerLinkActive]="'active-link'">Okupljanja</button>
  <button mat-button [routerLink]="['/organizacija']" [routerLinkActive]="'active-link'">Organizacija</button>
  <button mat-button [routerLink]="['/projekti']" [routerLinkActive]="'active-link'">Projekti</button>
  <button mat-button [routerLink]="['/blog']" [routerLinkActive]="'active-link'">Blog</button>
  <button mat-button [routerLink]="['/galerija']" [routerLinkActive]="'active-link'">Galerija</button>
  <span style="flex: 1 1 auto;"></span>
  <!-- TODO this is just for demonstration/debugging purposes, actual GUI should be very different -->
  <p *ngIf="auth.userProfile">Prijavljen korisnik: {{auth.userProfile.firstName}}</p>
  <button *ngIf="!auth.userProfile" mat-button (click)="displayLogin()">Prijavi se</button>
</mat-toolbar>
