.navbar {
  margin-bottom: 50px;
}

.mat-button {
  text-transform: uppercase;
}

.mat-button:focus {
  outline: none;
  border: 0;
}

.active-link {
  background-color: lightslategray;
  color: #fafafa;
}

#nav-button {
  margin-right: 15px;
}
