<footer class="page-footer font-small mdb-color bg-light lighten-3 pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4mb-1">
        <img src="https://i.imgur.com/vPIuIJr.png" class="img-fluid" style="width: 100px" alt="risk logo">
        <br>
        <br>
        <p>Ne idi utabanim putem. Umesto toga kreni tamo gde puta nema i ostavi trag.</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4mb-1">
        <div class="d-inline-flex flex-column" style="text-align: left">
          <h5 class="font-weight-bold text-uppercase mb-4">Navigacija</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <a [routerLink]="['/']">
                  <i class="fa fa-home mr-2"></i>
                  POČETNA
                </a>
              </p>
            </li>
            <li>
              <p>
                <a [routerLink]="['/okupljanja']">
                  <i class="fa fa-podcast mr-2"></i>
                  OKUPLJANJA
                </a>
              </p>
            </li>
            <li>
              <p>
                <a [routerLink]="['/organizacija']">
                  <i class="fa fa-group mr-2"></i>
                  ORGANIZACIJA
                </a>
              </p>
            </li>
            <li>
              <p>
                <a [routerLink]="['/projekti']">
                  <i class="fa fa-terminal mr-2"></i>
                  PROJEKTI
                </a>
              </p>
            </li>
            <li>
              <p>
                <a [routerLink]="['/blog']">
                  <i class="fa fa-edit mr-2"></i>
                  BLOG
                </a>
              </p>
            </li>
            <li>
              <p>
                <a [routerLink]="['/galerija']">
                  <i class="fa fa-image mr-2"></i>
                  GALERIJA
                </a>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Kontakt</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fa fa-home mr-2"></i>
              Studentski Trg 16, Beograd
            </p>
          </li>
          <li>
            <p>
              <i class="fa fa-envelope mr-2"></i>
              risk@alas.matf.bg.ac.rs
            </p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <h5 class="font-weight-bold text-uppercase mb-4">Pratite nas</h5>
        <a target="_blank" href="https://www.facebook.com/groups/1192849077458638/?ref=bookmarks" type="button" class="btn btn-social-icon btn-facebook">
          <span class="dark-icon fa fa-lg fa-facebook"></span>
        </a>
        <a target="_blank" href="https://www.instagram.com/riskmatf" type="button" class="btn btn-social-icon btn-instagram">
          <span class="dark-icon fa fa-lg fa-instagram"></span>
        </a>
        <a target="_blank" href="https://github.com/riskmatf" type="button" class="btn btn-social-icon btn-github">
          <span class="dark-icon fa fa-lg fa-github"></span>
        </a>
        <a target="_blank" href="mailto:risk@alas.matf.bg.ac.rs" type="button" class="btn btn-social-icon btn-email">
          <span class="dark-icon fa fa-lg fa-envelope"></span>
        </a>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <div class="footer-copyright text-center py-3">
    © 2020 RISK
  </div>
</footer>
