.header-image {
  margin-top: -50px;
  margin-left: -5vw;
  width: calc(100% + 10vw);
  height: 41vw; /* 22:9 aspect ratio */
  background-size: cover;
}

.avatar-image {
  background-size: cover;
}

.author-image {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.content-lt-md {
  width: calc(100% + 10vw);
  margin-top: 0;
  padding: 5%;
}

.content-gt-md {
  width: calc(70% + 10vw);
  margin-top: -50vh;
  padding: 30px;
}

::ng-deep #header .mat-card-header-text {
  margin: 0 8px !important;
}
