<div (window:resize)="onResize($event)" fxLayout="row grid" fxLayout.lt-md="column" fxFlexAlign="space-evenly" fxLayoutGap="30px grid">
  <div #cardLeft fxFlex="0 1 calc(50%)" fxFlex.sm="0 1 calc(100%)" fxFlex.md="0 1 calc(100%)" fxFlex.gt-md="0 1 calc(50%)">
    <mat-card fxFlex>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px">
        <div fxFlex="0 1 calc(50%)">
          <a style="max-width: 100%;" href="https://github.com/riskmatf/beardog">
            <img style="padding: 0; border-radius: 50%;" src="assets/beardog.png">
          </a>
        </div>
        <div fxFlex="0 1 calc(50%)" fxFlexAlign="center" style="text-align: center;">
          <a style="display: inline-block;" href="https://github.com/riskmatf/beardog">
            <mat-card-title style="padding-top: 15px;">BearDog</mat-card-title>
          </a>
          <mat-card-content style="word-wrap: break-word; margin: 0px 10px;">
            <p style="font-size: 16px;">Alat namenjen generisanju LaTeX dokumenata iz beardog sintakse. Beardog sintaksa je sintaksa insprisana sintaksama poput jinja2, blade, twigg i omogućava pisanje LaTeX dokumenata korišćenjem šablona, promenljivih, petlji i slično.</p>
          </mat-card-content>
          <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
          <div>
            <h5>Učesnici</h5>
            <ul>
              <li>Nemanja Mićović</li>
              <li>Peđa Trifunov</li>
            </ul>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <div #cardRight fxFlex="0 1 calc(50%)" fxFlex.sm="0 1 calc(100%)" fxFlex.md="0 1 calc(100%)" fxFlex.gt-md="0 1 calc(50%)">
    <mat-card fxFlex>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px">
        <div fxFlex="0 1 calc(50%)" fxFlexAlign="center" style="text-align: center;">
          <a style="display: inline-block;" href="https://github.com/riskmatf/vrmatf">
            <mat-card-title style="padding-top: 15px;">VR MATF</mat-card-title>
          </a>
          <mat-card-content style="word-wrap: break-word; margin: 0px 10px;">
            <p style="font-size: 16px;">VR aplikacija bazirana na Cardboard SDK koja se koristi za vizuelizaciju nekih zanimljivih algoritama ili pojava iz oblasti računarstva.</p>
          </mat-card-content>
          <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
          <div>
            <h5>Učesnici</h5>
            <ul>
              <li>Nemanja Mićović</li>
              <li>Peđa Trifunov</li>
              <li>Vuk Novaković</li>
            </ul>
          </div>
        </div>
        <div fxFlex="0 1 calc(50%)">
          <a style="max-width: 100%;" href="https://github.com/riskmatf/vrmatf">
            <img style="padding: 0; border-radius: 50%;" src="assets/vrmatf.png">
          </a>
        </div>
      </div>
    </mat-card>
  </div>

  <div #cardLeft fxFlex="0 1 calc(50%)" fxFlex.sm="0 1 calc(100%)" fxFlex.md="0 1 calc(100%)" fxFlex.gt-md="0 1 calc(50%)">
    <mat-card fxFlex>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px">
        <div fxFlex="0 1 calc(50%)">
          <a style="max-width: 100%;" href="https://github.com/riskmatf/riskmatf.github.io">
            <img style="padding: 0; border-radius: 50%;" src="assets/risk-square-logo.png">
          </a>
        </div>
        <div fxFlex="0 1 calc(50%)" fxFlexAlign="center" style="text-align: center;">
          <a style="display: inline-block;" href="https://github.com/riskmatf/riskmatf.github.io">
            <mat-card-title style="padding-top: 15px;">RISK zvanična stranica</mat-card-title>
          </a>
          <mat-card-content style="word-wrap: break-word; margin: 0px 10px;">
            <p style="font-size: 16px;">Veb strana posvećena organizaciji RISK. Bazirana na alatu Jekyll i aktivno održavana od strane RISK zajednice.</p>
          </mat-card-content>
          <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
          <div>
            <h5>Učesnici</h5>
            <ul>
              <li>Nemanja Mićović</li>
              <li>Stevan Nestorović</li>
              <li>Peđa Trifunov</li>
              <li>Vuk Novaković</li>
              <li>Aleksandar Stefanović</li>
            </ul>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <div #cardRight fxFlex="0 1 calc(50%)" fxFlex.sm="0 1 calc(100%)" fxFlex.md="0 1 calc(100%)" fxFlex.gt-md="0 1 calc(50%)">
    <mat-card fxFlex>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px">
        <div fxFlex="0 1 calc(50%)" fxFlexAlign="center" style="text-align: center;">
          <a style="display: inline-block;" href="https://github.com/riskmatf/risk-media">
            <mat-card-title style="padding-top: 15px;">RISK medijski sadržaj</mat-card-title>
          </a>
          <mat-card-content style="word-wrap: break-word; margin: 0px 10px;">
            <p style="font-size: 16px;">Repozitorijum posvećen skladištenju raznog medijskog sadržaja organizacije RISK. Ohrabruju se svi da doprinesu! :)</p>
          </mat-card-content>
          <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
          <div>
            <h5>Učesnici</h5>
            <ul>
              <li>Nemanja Mićović</li>
              <li>Peđa Trifunov</li>
            </ul>
          </div>
        </div>
        <div fxFlex="0 1 calc(50%)">
          <a style="max-width: 100%;" href="https://github.com/riskmatf/risk-media">
            <img style="padding: 0; border-radius: 50%;" src="assets/risk-square-logo.png">
          </a>
        </div>
      </div>
    </mat-card>
  </div>
</div>
