<div (window:resize)="onResize($event)" fxLayout="row grid" fxLayout.lt-md="column" fxFlexAlign="space-evenly stretch">
  <div #elem fxFlex="0 1 calc(50%)" fxFlex.sm="0 1 calc(100%)" fxFlex.md="0 1 calc(100%)" fxFlex.gt-md="0 1 calc(50%)"
    *ngFor="let project of projects; let i = index; trackBy: trackById;" [attr.data-index] = "i"
    ngStyle.lt-sm="padding-right: '0px'; padding-bottom: '30px';"
    ngStyle.gt-xs="padding-left: '15px'; padding-right: '15px'; padding-bottom: '30px';">
    <mat-card fxFlex>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px"
        *ngIf="i % 2 === 0" style="height: 100%;">
        <div class="first" fxFlex="0 1 calc(50%)">
          <a style="min-width: 100%;" href="{{ project.link }}">
            <img style="padding: 0; border-radius: 50%;" src="{{ project.img }}">
          </a>
        </div>
        <div class="second" fxFlex="0 1 calc(50%)" fxFlexAlign="center" style="text-align: center;">
          <a style="display: inline-block;" href="{{ project.link }}">
            <mat-card-title style="padding-top: 15px;">{{ project.name }}</mat-card-title>
          </a>
          <mat-card-content style="word-wrap: break-word; margin: 0px 10px;">
            <p style="font-size: 16px;">{{ project.desc }}</p>
          </mat-card-content>
          <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
          <div>
            <h5>Učesnici</h5>
            <ul>
              <li *ngFor="let contr of project.contributors">{{ contr.name }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px"
        *ngIf="i % 2 !== 0" style="height: 100%;">
        <div class="second" fxFlex="0 1 calc(50%)" fxFlexAlign="center" style="text-align: center;">
          <a style="display: inline-block;" href="{{ project.link }}">
            <mat-card-title style="padding-top: 15px;">{{ project.name }}</mat-card-title>
          </a>
          <mat-card-content style="word-wrap: break-word; margin: 0px 10px;">
            <p style="font-size: 16px;">{{ project.desc }}</p>
          </mat-card-content>
          <div style="border-bottom: 1px #777 solid; margin: 10px 0px;"></div>
          <div>
            <h5>Učesnici</h5>
            <ul>
              <li *ngFor="let contr of project.contributors">{{ contr.name }}</li>
            </ul>
          </div>
        </div>
        <div class="first" fxFlex="0 1 calc(50%)">
          <a style="min-width: 100%;" href="{{ project.link }}">
            <img style="padding: 0; border-radius: 50%;" src="{{ project.img }}">
          </a>
        </div>
      </div>
    </mat-card>
  </div>
</div>
