<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport mode="over" opened="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/okupljanja']" [routerLinkActive]="'active-link'" (click)="drawer.close()">Okupljanja</a>
      <a mat-list-item [routerLink]="['/organizacija']" [routerLinkActive]="'active-link'" (click)="drawer.close()">Organizacija</a>
      <a mat-list-item [routerLink]="['/projekti']" [routerLinkActive]="'active-link'" (click)="drawer.close()">Projekti</a>
      <a mat-list-item [routerLink]="['/blog']" [routerLinkActive]="'active-link'" (click)="drawer.close()">Blog</a>
      <a mat-list-item [routerLink]="['/galerija']" [routerLinkActive]="'active-link'" (click)="drawer.close()">Galerija</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar [drawer]="drawer" [isHandset]="isHandset$"></app-navbar>
    <div class="content">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


